<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error 404 - Page Not Found!</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css" />
    <link href="./assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>

<style>
   @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

    body {
        background: #fff;
        padding: 0;
        margin: 0;
        font-family: 'Nunito';
    }

    .container {
        background-color: #fff;
        margin: 0 auto;
        text-align: center;
        padding-top: 50px;
    }

    h1 {
        margin: 0;
        font-size: 100px;
        color: #2FA84F;
    }

    h3, h3 span {
        font-size: 22px;
        color: #142940;
        font-weight: bold;
        text-align: center;
        line-height: 130%;
        margin: 0;
    }

    .site-address {
        padding: 15px;
        background-color: #142940;
        border-radius: 5px;
    }

    span {
        font-size: 14px;
        color: #FFF;
        font-weight: normal;
        text-align: center;
    }

    span a {
        color: #FF0;
        text-decoration: none;
    }

    span a:hover {
        color: #F00;
    }

    @media screen and (max-width: 500px) {
        img {
            width: 100%;
        }

        .container {
            padding: 70px 10px 10px 10px;
        }

        h3 {
            font-size: 22px;
        }
    }
</style>

<body>
    <div class="container">
        <img class="ops" src="/main/icon/not_support.svg" width="600" />
        <h1>404</h1>
        <h3>
            Uppss! Mohon maaf, versi mobile  belum tersedia saat ini.
         </h3>
        <br />
    </div>
</body>

</html>