<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamat Datang</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">

</head>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

    .room {
        height: 100vh;
    }

    .jumbotron {
        font-family: 'Nunito';
        text-align: center;
        font-weight: bold;
        color: white;
        background: linear-gradient(rgb(0 0 0 / 65%), rgb(0 0 0 / 88%)), url(/global/img/mangrove_2.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .jumbotron h1 {
        font-size: 3rem;
        line-height: 1;
        font-weight: bold;
        padding: 15px;
        margin: 25px;
    }

    .jumbotron p {
        font-size: 24px;
        line-height: 1;
        margin: 0;
        font-weight: bold;
    }

    .main-title {
        padding: 15px;
        /* border-bottom: 5px solid #000; */
        width: 30%;
        margin: 25px auto;
        background-color: #142940;
        border-radius: 5px;
    }

    .main-title span {
        color: #FAAF02;
    }

    .button-section {
        justify-content: center;
    }

    .button-section button {
        background-color: #e8e8ec;
        border: #e8e8ec;
        padding: 10px;
        color: #142940;
        font-weight: bold;
        width: 323px;
    }

    .button-section button:hover {
        background-color: #2ec551;
    }

    .button-section span {
        margin: 0 15px;
    }

    #overlay-preload,
    #overlay-preload-map {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(59 59 59 / 90%);
        z-index: 9999;
        cursor: pointer;
    }

    #overlay-preload img,
    #overlay-preload-map {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 9999;
    }

    .dashboard-spinner {
        margin: 0px 8px;
        border-radius: 50%;
        background-color: transparent;
        border: 6px solid transparent;
        border-top: 6px solid #142940;
        border-left: 6px solid #142940;
        -webkit-animation: 1s spin linear infinite;
        animation: 1s spin linear infinite;
        display: inline-block;
    }

    .spinner-xs {
        width: 30px;
        height: 30px;
    }

    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
</style>

<body>
    <div id="overlay-preload">
        <img src="/main/preload/loader-1.svg" alt="" srcset="" width="100">
    </div>
    <div class="room">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="main-title">
                    <p class="display-4">PERTUMBUHAN HIJAU</p>
                    <span>Monitoring Platform</span>
                </div>
                <h1>Mewujudkan Pembangunan Berwawasan Lingkungan</h1>
                <div id="btn-sec" class="button-section">
                    <%
                    if(region.length!=0){
                    var i=1;
                    region.forEach(function(region){
                    %>
                    <button id="<%= region.id_region%>" class="btn btn-success"
                        onclick="MovePage(this)">Kab. <%= region.nama_region +', Prov. '+ region.provinsi %> <div
                            id="spinner<%= region.id_region %>" class="dashboard-spinner spinner-secondary spinner-xs"
                            style="vertical-align: middle;visibility:hidden"></div></button>
                    <span id="span<%= i %>"> Atau </span>
                    <%  i++; }) %>
                    <% } else { %>

                    <button id="submit-btn" class="btn btn-success" disabled>Belum Ada Data</button>

                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css"></script>

    <script>
        let general_loader = document.getElementById('overlay-preload')
        let btn_section = document.querySelectorAll('#btn-sec button')

        btn_section[0].style.backgroundColor = '#2ec551'
        btn_section[0].style.color = '#fff'

        let span_selector = document.querySelectorAll('#btn-sec span')

        if (btn_section.length === 1) {
            span_selector[0].style.visibility = 'hidden'
        } else {
            span_selector[span_selector.length - 1].remove()
        }

        function MovePage(el) {
            let id = el.id
            // window.location.href = `/main/map/${id}`
            el.style.width = '32%'
            document.getElementById(`spinner${id}`).style.visibility = 'visible'

        }

        window.addEventListener('load', function () {
            general_loader.style.visibility = 'hidden'
        })
    </script>
</body>

</html>