<div class="widget-box">
    <h4 class="widget-title">Cari Artikel</h4>
    <div class="divider" style="margin-bottom: 16px;"></div>
    <div class="search-form" style="margin-top: 10px;">
        <input id="search-content" class="form-control" type="text" placeholder="Cari artikel....."
            style="font-size: 14px;">
        <button onclick="cariAritkel()" class="btn btn-success cs-btn" style="font-size: 12px;font-weight: 600;" disabled><i
                class="fas fa-search filter-icon"></i> </button>
    </div>
</div>
<div class="widget-box">
    <h4 class="widget-title">Kategori</h4>
    <div class="divider" style="margin-bottom: 16px;"></div>
    <ul class="categories">
        <li><a href="#">Event</a></li>
        <li><a href="#">Artikel</a></li>
        <!-- <li><a href="#">Karhutla</a></li>
      <li><a href="#">Hutan dan Lahan</a></li> -->
        <!-- <li><a href="#">Entertainment</a></li> -->
    </ul>
</div>
<!-- <div class="widget-box">
    <h4 class="widget-title">Recent Post</h4>
    <div class="divider"></div>

    <div class="blog-item">
        <a class="post-thumb" href="">
            <img src="../assets/img/blog/blog-3.jpg" alt="">
        </a>
        <div class="content">
            <h6 class="post-title"><a href="#">Even the all-powerful Pointing has no control</a></h6>
            <div class="meta">
                <a href="#"><i class="fas fa-calendar"></i> July 12, 2018</a>
                <a href="#"><i class="fas fa-user"></i> Admin</a>
            </div>
        </div>
    </div>

    <div class="blog-item">
        <a class="post-thumb" href="">
            <img src="../assets/img/blog/blog-3.jpg" alt="">
        </a>
        <div class="content">
            <h6 class="post-title"><a href="#">Even the all-powerful Pointing has no control</a></h6>
            <div class="meta">
                <a href="#"><i class="fas fa-calendar"></i> July 12, 2018</a>
                <a href="#"><i class="fas fa-user"></i> Admin</a>
            </div>
        </div>
    </div>

    <div class="blog-item">
        <a class="post-thumb" href="">
            <img src="../assets/img/blog/blog-3.jpg" alt="">
        </a>
        <div class="content">
            <h6 class="post-title"><a href="#">Even the all-powerful Pointing has no control</a></h6>
            <div class="meta">
                <a href="#"><i class="fas fa-calendar"></i> July 12, 2018</a>
                <a href="#"><i class="fas fa-user"></i> Admin</a>
            </div>
        </div>
    </div>

</div> -->