<div class="text-p" style="display: inline;">
    <h2 style="display: inline;">Entative <span id="green-dot"><img width="15" src="/global/img/green-dot.svg" alt="" srcset="" style="position: absolute;"></span></h2>
    <!-- <p>Green Initiavite Platform    </p> -->
</div>