<div class="language-selection ">
    <a id="lang-selection" onclick="window.location.href = '/main/about_en/<%= region.id_region %>'">About</a>
</div>
<div class="margin-5"></div>
<div class="language-selection ">
    <a id="lang-selection" onclick="window.location.href = '/main/contact_en/<%= region.id_region %>'">Contact Us</a>
</div>
<div class="margin-5"></div>
<div class="language-selection ">
    <a id="lang-selection" href="https://entative.org/blog/" style="color: #142940;">Blog</a>
</div>
<div class="margin-5"></div>
<div class="language-selection ">
    <a id="lang-selection" onclick="window.location.href = '/main/resources_en/<%= region.id_region %>'">Resources</a>
</div>
<!-- <div class="language-selection ">
    <a id="lang-selection" onclick="window.location.href = '/main/blog/<%= region.id_region %>'">Contact Us</a>
</div> -->