<!-- Required meta tags -->
<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->


<link rel="stylesheet" href="/admin/assets/vendor/bootstrap/css/bootstrap.min.css">
<link href="/admin/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
<link rel="stylesheet" href="/admin/assets/libs/css/style.css">
<link rel="stylesheet" href="/admin/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">

<link rel="stylesheet" href="/admin/assets/vendor/charts/chartist-bundle/chartist.css">
<link rel="stylesheet" href="/admin/assets/vendor/charts/morris-bundle/morris.css">
<link rel="stylesheet"
    href="/admin/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/admin/assets/vendor/charts/c3charts/c3.css">
<link rel="stylesheet" href="/admin/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">

<!-- google material icon -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Map section -->

<!-- Font section -->
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="/assets/vendor/bootstrap-colorpicker/%40claviska/jquery-minicolors/jquery.minicolors.css" rel="stylesheet">


<script>
    let message = `<%- message %>`
</script>