<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Peta</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                            data-target="#submenu-5" aria-controls="submenu-5"><i
                                class="fas fa-fw fa-table"></i>Dashboard</a>
                        <div id="submenu-5" class="collapse submenu show">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/action/admin/detail_region/<%= id_region %>">Detail Region</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                            data-target="#submenu-5" aria-controls="submenu-5"><i
                                class="fas fa-fw fa-table"></i>Action</a>
                        <div id="submenu-5" class="collapse submenu show">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <!-- <a class="nav-link" href="/admin/">Tambah Region</a> -->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/add_target">Tambah Target</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/add_rincian_target">Tambah Rincian Target</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/add_capaian">Tambah Capaian</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="true"
                            data-target="#submenu-1" aria-controls="submenu-1"><i
                                class="fa fa-fw fa-user-circle"></i>List<span
                                class="badge badge-success">6</span></a>
                        <div id="submenu-1" class="collapse submenu show">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <!-- <a class="nav-link" href="/admin/addgrouplayer">Buat Group Layer</a> -->
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="/admin/addnewlayer">List Region</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/list_target">List Target</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/list_rincian_target">List Rincian Target</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/list_histori_capaian">List Histori Capaian</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="true"
                            data-target="#submenu-1" aria-controls="submenu-1"><i
                                class="fa fa-fw fa-user-circle"></i>Data<span
                                class="badge badge-success">6</span></a>
                        <div id="submenu-1" class="collapse submenu show">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <!-- <a class="nav-link" href="/admin/addgrouplayer">Buat Group Layer</a> -->
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="/admin/addnewlayer">List Region</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/add_group_data">Tambah Group Data</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/add_data">Tambah Data</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/list_data">List Data</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="true"
                            data-target="#submenu-1" aria-controls="submenu-1"><i
                                class="fa fa-fw fa-user-circle"></i>Lainnya<span
                                class="badge badge-success">6</span></a>
                        <div id="submenu-1" class="collapse submenu show">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <!-- <a class="nav-link" href="/admin/addgrouplayer">Buat Group Layer</a> -->
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="/admin/addnewlayer">List Region</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/add_resources">Tambah Resources</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<script>
    let current_link = document.querySelectorAll(`.nav-item a[href='<%= current_link %>']`)[0]
        current_link.classList.add('active')
</script>